@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Cormorant:wght@300&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Cormorant', sans-serif;
  background-color:#000; 
  text-align: center;
}

.header-container {
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
 /*  border: 1px solid black; */
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
  overflow: hidden;
}

.logo {
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  object-fit: cover;
  /* border: 1px solid #000 */
  overflow: hidden;
  
  
}

.navbar {
  display: flex;
  /* border: 1px solid green; */
  align-items: baseline;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  overflow: hidden;
}

.header-links {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  list-style-type: none;
  gap: 2rem;
  width: 100%;
  justify-content: center;
  flex-flow: row wrap;
  overflow: hidden;
}

.header-links li a {
  color: #000;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  display: block;
  overflow: hidden;
  
}

@media all and (max-width: 649px){
  .header-links li a {
    font-size: 15px;
  }
  .logo {
    height: 25px;
    width: 30px;
  }
}

@media all and (max-width: 490px){
  .header-links li a {
    font-size: 12px;
    overflow: hidden;
  }
}

@media all and (max-width: 280px){
  .header-links {
    display: none;
  }
  
  
}


.header-links li a:hover {
  color: #008F11;
  text-decoration: underline;
  background: #000;
  
}
.header-links li a:active {
  color: #008F11;
  text-decoration: underline;
  background: #000;
  
}
.header-links li a:focus {
  color: #008F11;
  text-decoration: underline;
  background: #000;
}

/* .header-links li a:visited {
  color: #70ac77;
  text-decoration: underline;
} */

main {
  position: relative;
  margin-bottom: 4em;
}

.intro {
  display: flex;
  flex-direction: column;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 4rem;
  width: 100%;
  min-height: 100vh;
  /* border: 1px white solid;  */
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.intro h1 {
  display: flex;
  flex-direction: column wrap;
  font-weight: bolder;
  font-size: 100px;
  color: #fff;
  /* border: 1px white solid;  */
  width: 100%;
  overflow: visible;
  justify-content: center;
  letter-spacing: 8px;
  text-align: center;
}

.intro p {
  display: flex;
  flex-flow: column wrap;
  color: #FFF;
  /* border: white 1px solid; */
  width: 100%;
  font-size: 80px;
  letter-spacing: 5px;
}

.intro b {
  display: flex;
  color: #fff;
  flex-flow: column wrap;
  font-size: 50px;
}


@media all and (max-width: 649px){
  .intro h1 {
    font-size: 45px;
  }
  .intro p {
    font-size: 25px;
  }
  .intro b {
    font-size: 25px;
  }
}




.about {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 1rem;
  width: 100%;
  min-height: 100vh;
  /* border: 1px white solid;   */
  justify-content: center;
  align-items: center;

}

.about h2 {
  display: flex;
  flex-flow: row wrap;
  font-weight: bolder;
  font-size: 3em;
  color: #fff;
 /*  border: 1px white solid;  */
  width: 100%;
  letter-spacing: 5px;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} 

@media all and (max-width: 649px){
  .about h2 {
    font-size: 2.3em;
  }
}


.about p {
  display: block;
  flex-flow: column wrap;
  text-align: left;
  font-weight: 550;
  text-shadow: #ffffff 0.5px 0.5px 0.5px;
  color: #ffffff;
  margin-top: 1em; 
  /* border: 1px white solid */;  
  width: 40%;
  font-size: 1.7em;
  margin-left: 0.5em;
  text-align: justify; 
}  

.about p a {
  text-decoration: underline;
  color: #fff;
}  

@media all and (max-width: 1000px){
  .about p {
  
    width: 80%;
  }
}

@media all and (max-width: 649px){
  .about p {
  
    width: 80%;
  }
}

@media all and (max-width: 649px){
  .about p {
  
    width: 90%;
    text-align: center;
    text-align: left;
    text-align: justify;
    padding: 0;
    padding-top: 1em;
    margin: 0;
  }
}

@media all and (max-width: 450px){
  .about p {
  
    width: 90%;
    text-align: center;
    text-align: left;
    text-align: justify;
    font-size: 1.5em;
    padding: 0;
    padding-top: 1em;
    margin: 0;
  }
}



.entry-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin: auto;
  border: 1px green solid;
  padding: auto;
  z-index: 1;
}

entry-1 h1 {
  color: #FFF;
  
}

.entry-1 {
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  margin-top: 4rem;
  width: 100%;
  min-height: 100vh;
  /* border: 1px white solid;  */
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: hidden;
}

.entry-1 h1 {
  display: flex;
  flex-direction: column wrap;
  font-weight: bolder;
  font-size: 3em;
  color: #fff;
  /* border: 1px white solid;  */
  width: 85%;
  overflow: visible;
  justify-content: center;
  letter-spacing: 8px;
  text-align: center;
  margin-top: 5em;
  overflow: hidden;
}

 .entry-1 .subtitle {
  display: flex;
  flex-flow: column wrap;
  color: #FFF;
  /* border: white 1px solid; */
   width: 85%;
  font-size: 2.5em;
  letter-spacing: 5px;
  margin-bottom: 1em;
  margin-top: 0.8em;
  overflow: hidden;
} 


.entry-1 p {
  display: block;
  flex-flow: column wrap;
  text-align: left;
  justify-content: center;
  font-weight: 550;
  text-shadow: #ffffff 0.5px 0.5px 0.5px;
  color: #ffffff;
  margin-top: 1em; 
  border: 1px white solid ;  
  width: 40%;
  font-size: 1.7em;
  text-align: justify;
  margin-left: 0;
}


@media all and (max-width: 649px){
  .entry-1 h1 {
    font-size: 2em;
    width: 90%;
  }
}

@media all and (max-width: 450px){
  .entry-1 h1 {
    font-size: 1.5em;
    width: 95%;
  }

}

@media all and (max-width: 350px){
  .entry-1 h1 {
    font-size: 1em;
    width: 95%;
  }

}
@media all and (max-width: 649px){
  .entry-1 .subtitle {
    font-size: 1.5em;
  }
}

@media all and (max-width: 450px){
  .entry-1 .subtitle {
    font-size: 1em;
    width: 90%;
  }
}

@media all and (max-width: 350px){
  .entry-1 .subtitle {
    font-size: 0.9em;
    width: 90%;
  }
}


@media all and (max-width: 1000px) {
  .entry-1 p {
  
    width: 80%;
    text-align: center;
    text-align: left;
    text-align: justify;
  
  }
}

@media all and (max-width: 649px){
  .entry-1 p {
  
    width: 85%;
    text-align: center;
    text-align: left;
    text-align: justify; 
    
  }
}

@media all and (max-width: 450px){
  .entry-1 p {
  
    width: 80%;
    text-align: center;
    text-align: left;
    text-align: justify;
    font-size: 1.5em;
    
    
    
    
    
    
  }
}

.entry-1 .indent {
  margin-left: 4em;
  padding-right: 4em;
  
}

.entry-1 p a {
  text-decoration: underline;
  color: #fff;
}  

footer {
  display: flex;
  flex-flow: column wrap;
  background-color: #FFF;
  background-repeat: no-repeat;
  min-height:10vh;
  width: 100%;
  color: #000000; 
  font-weight: bold;
  z-index: 1;
  font-size: 24px;
  position: absolute;
  overflow: hidden;
}

@media all and (max-width: 400px){
  footer {
    font-size: 16px;
  }
}

@media all and (max-width: 195px){
  footer {
    display: none;
  }
  footer div{
    display: none;
  }
}
  
footer div {
  margin: auto;
  
 }